.Dashboard{

    .Logo {
        text-align:center;
        span {
            display:inline;
            color:white;
            font-family: 'Secular One', sans-serif;
            font-size:50px;
            margin-right:20px;
        }
        h1 {
            display:inline;
            color:white;
            font-family: 'Rhodium Libre', serif;
            font-size:30px;
        }
    }

    .CurrentStats {
        text-align: center;
        h3 {
            font-family: 'Open sans', serif;
            color:white;
            font-size:20px;
            font-weight:bold;
            background-color:rgba(0, 0, 0, 0.185);
            width:auto;
        }
    }

}