@keyframes popInAnimation {
    0% {
      transform: scale(0);
      opacity:0;
    }
    100% {
      transform: scale(100%);
      opacity:1;
    }
  }
.userdata {
    animation: 0.3s ease-out 0s 1 popInAnimation;
    z-index:999;
    min-height:100%;
    min-width:100%;
    background-color:#22272B;
    position:relative;

    .closePopup {
        height:100vh;
    }

    .Bloc {

        background-color:#F3F3F3;
        padding:10px 40px 40px 40px;
        border-radius:25px;
        width:auto;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

        .userdata-Header {
            .Close-userdata {

                display:block;
                font-family: 'Rajdhani', sans-serif;
                color:#22272B;
                font-weight:lighter;
                font-size:30px;
                margin-bottom:20px;
                transition: 0.2s ease-in-out;

                &:hover {
                    transition: 0.2s ease-in-out;
                    transform: scale(1.1, 1.1);
                    font-weight: bold;
                    cursor:pointer;
                }

            }
            h3 {

                font-family: 'Rajdhani', sans-serif;
                font-size:30px;
                font-weight:lighter;
                margin-bottom:50px;

            }
        }

    }

    .userdata-Form {
        
        div {

            margin-bottom:40px;
        
            input {
                font-family: 'Rajdhani', sans-serif;
                background:0;
                border:0;
                color:#22272B;
                border-bottom:1px solid #22272B;  
                font-size:20px;
                width:400px;
                &::placeholder {
                    color:#22272B;
                }
                &:focus {
                    outline:0;
                }
            }

        }

        .RegisterNewUser {
            font-family: 'Rajdhani', sans-serif;
            font-size:20px;
            color:white;
            font-weight:bold;
            background-color:#22272B;
            width:400px;
            border:0;
            padding:15px 15px;
            margin-top:25px;
            transition: 0.2s ease-out;
            &:hover {
                transition: 0.2s ease-in-out;
                transform: scale(1.1, 1.1);
                box-shadow: 2px 2px 23px -3px rgba(0,0,0,0.75);
            }
        }
    }

}